@{
    ViewData["Title"] = "Home Page";
}

<table class="table" id="tbBook">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Pushlisher</th>
            <th scope="col">Pushlish Year</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}

